/* CSS Document */

html, body{
    height : 100%
}

html, body,.ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner{
    font-size: 12px
}

a, span, li a, li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*--Toolbar Navigation--*/

div[data-role=navbar] .ui-btn .ui-btn-inner { 
    padding-top: 50px; 
}
div[data-role=navbar] .ui-btn .ui-icon { 
    width: 45px; 
    height: 45px; 
    margin-left: -20px;

}
#home .ui-icon { 
    background:  url(../images/home.png) 50% 50% no-repeat; 
}
#content .ui-icon { 
    background:  url(../images/book2.png) 50% 50% no-repeat; 
}
#calendar .ui-icon { 
    background:  url(../images/calendar2.png) 50% 50% no-repeat;
}
#note .ui-icon { 
    background:  url(../images/note2.png) 50% 50% no-repeat;
}
#search .ui-icon { 
    background:  url(../images/search.png) 50% 50% no-repeat;
}
#layout margin {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border: medium solid #000000;
    border-radius: 10px;
}

div[data-role="content"]{
    font-size: 16px;
}

.fonts article{
    display: inline
}

.fontSizeMinus{
    font-size: 20px
}

.fontReset{
    font-size: 28px;
    margin: 0 1.5em
}

.fontSizePlus{
    font-size: 48px    
}

.hymn{
    width: 100%
}

textarea.ui-input-text{
    height:100px
}