/* CSS Document */

html, body{
    height : 100%
}

html, body,.ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner{
    font-size: 13px
}

a, span, li a, li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header{
    max-height:100%;
    max-width:100%;
}

#form_register{
    visibility:hidden;
}

#form_register p{
    text-align: center
}

/*--Toolbar Navigation--*/

div[data-role=navbar] .ui-btn .ui-btn-inner { 
    padding-top: 50px; 
}
div[data-role=navbar] .ui-btn .ui-icon { 
    width: 45px; 
    height: 45px; 
    margin-left: -20px;

}
#home .ui-icon { 
    background:  url(../images/home.png) 50% 50% no-repeat; 
}
#content .ui-icon { 
    background:  url(../images/book2.png) 50% 50% no-repeat; 
}
#calendar .ui-icon { 
    background:  url(../images/calendar2.png) 50% 50% no-repeat;
}
#note .ui-icon { 
    background:  url(../images/note2.png) 50% 50% no-repeat;
}
#search .ui-icon { 
    background:  url(../images/search.png) 50% 50% no-repeat;
}

div[data-role="content"]{
    display: block;
    background:url(../images/page_bg.jpg) no-repeat;
    background-size:100%;
    background-color: white;
    min-height: 100%
}

.ui-body-c{
    background-color: white;
    background-image: none !important
}

.dateLesson{
    background: url(../images/date.png) no-repeat;
    background-size:100%;
    width: 30%;
    height: 2.75em;
    float: left;
    text-align: center;
    padding-top: 1.5em;
    font-family: sans-serif
}

.dateDay{
    font-size: 1.5em !important;
    margin-top: 0;
    font-weight: bold
}

.monthYear{
    color: White;
    font-size: .5em !important;    
}

div[id="notepad"], div[id="searching"]{
    min-height: 40em;
}

.fonts article{
    display: inline
}

.fontSizeMinus{
    font-size: 1.54em
}

.fontReset{
    font-size: 2.15em;
    margin: 0 1.5em
}

.fontSizePlus{
    font-size: 3.69em
}

.hymn{
    width: 100%
}

textarea.ui-input-text{
    height: 7.69em
}