/* CSS Document */

html, body{
    height : 100%
}

html, body,.ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner{
    font-size: 13px
}

a, span, li a, li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header{
    max-height:100%;
    max-width:100%;
}

#form_register{
    visibility:hidden;
}

#form_register p{
    text-align: center
}

/*--Toolbar Navigation--*/

div[data-role=navbar] .ui-btn .ui-btn-inner { 
    padding-top: 50px; 
}
div[data-role=navbar] .ui-btn .ui-icon { 
    width: 45px; 
    height: 45px; 
    margin-left: -20px;

}
#home .ui-icon { 
    background:  url(../images/home.png) 50% 50% no-repeat; 
}
#content .ui-icon { 
    background:  url(../images/book2.png) 50% 50% no-repeat; 
}
#calendar .ui-icon { 
    background:  url(../images/calendar2.png) 50% 50% no-repeat;
}
#note .ui-icon { 
    background:  url(../images/note2.png) 50% 50% no-repeat;
}
#search .ui-icon { 
    background:  url(../images/search.png) 50% 50% no-repeat;
}

div[data-role="content"]{
    display: block;
    background:url(../images/page_bg.jpg) no-repeat;
    background-size:100%;
    background-color: white;
    min-height: 100%
}

.ui-body-c{
    background-color: white;
    background-image: none !important
}

.dateLesson{
    background: url(../images/date.png) no-repeat;
    background-size:100%;
    width: 30%;
    height: 2.75em;
    float: left;
    text-align: center;
    padding-top: 1.5em;
    font-family: sans-serif
}

.dateDay{
    font-size: 1.5em !important;
    margin-top: 0;
    font-weight: bold
}

.monthYear{
    color: White;
    font-size: .5em !important;    
}

div[id="notepad"], div[id="searching"]{
    min-height: 40em;
}

.fonts article{
    display: inline
}

.fontSizeMinus{
    font-size: 1.54em
}

.fontReset{
    font-size: 2.15em;
    margin: 0 1.5em
}

.fontSizePlus{
    font-size: 3.69em
}

.hymn{
    width: 100%
}

textarea.ui-input-text{
    height: 7.69em
}

.clr{
    clear: both;
}


.text-center {
text-align: center;

}
.hidden {
    display: none;

}

.top-controls{
    line-height: 50px;
    font-size: 11px;
    background: #191919;
    text-transform: uppercase;
    z-index: 9999;
    
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 30px;
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    -moz-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    -o-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    -ms-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    animation: slideOut 0.5s ease-in-out 0.3s backwards;
}

.contenedor {
    width: 100% !important;
    overflow: hidden;
    background: #fffff3;

}


.content{
    top: 0;
    left: 0;
}



.content h1{
    font-size: 24px;
    color: #fff;
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.content h2{
    font-size: 110px;
    padding: 10px 0px 20px 0px;
    margin-top: 52px;
    color: #fff;
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
    font-size: 14px;
    padding: 10px;
    line-height: 16px;
    color: #403833;
    display: block;

    padding: 10px;
    margin: 3px 0px;
    font-weight: bold;
}

.content .content-header{
    background: #514843;
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;
    min-height: 30px;

}

.content .content-header h1{
    line-height: 20px;
    margin-top: 6px;

}



.content .content-body{
    margin: auto 2% auto 5%;
    background: #fffff3;
    
}

.content .content-footer{
    background: #514843;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    width: 100%;

}
.content .content-footer p{
    color: #fff;
    font-size: 12px;
}
.panel{

    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.controles {
    position: relative;
    min-height: 50px;

}

.img_bible {
    float: right;
    width: 150px;
    max-width: 150px;
}
@media (max-width: 320px) {
  .img_bible {
    width: 100px;
    max-width: 100px;
    margin-top: 20px;
}
}
